
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using(Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>
        <label>User Name : </label>
        <input name="username" />
    </p>
    <p>
        <label>Password :</label>
        <input name="password" type="password" />
    </p>
    
   <button name="sunbmit" value="submit" >LogIn</button>
}