
@{
    ViewBag.Title = "ContactUS";
}

<h2>ContactUS</h2>

<p>Transflower Learning Pvt. LTd.</p>
<p>601, Rama Apartment, Walvekar Nagar</p>
<p>Pune Satara Road</p>
<p>Parvati, Pune 41109</p>

@{ string webUrl = ViewBag.website as string;
}
<h3>@ViewBag.person.FirstName</h3>
<h3>@ViewBag.person.LastName</h3>
